# Dependências do Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Dependências do Backend
backend/node_modules/

# Logs e arquivos de sistema
*.log
npm-debug.log*
.DS_Store
Thumbs.db
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Arquivos de segredo (IMPORTANTE)
.env
frontend/.env
backend/.env