.navigation {
  width: 100%;
  margin: 0;
  background-color: #3B3B3B
}

.nav-container ul {
  display: flex;  
  justify-content: center;
  list-style-type: none; 
  margin: 0;
  padding: 0;
}

.nav-link {
  display: inline-block;
  padding: 14px 20px; 
  background-color: #333;
  color: white;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  transition: background-color 0.2s;
}

.nav-link:hover {
  background-color: #63635f
}

.nav-link.active {
  background-color: #0000008a; /* Cor de destaque */
  color: white;
  font-weight: bold;
}